.navbarTop,
.navbarTop .right,
.navbarTop .left .search
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarTop {
    width: 100%;
    height: 65px;

    background-color: #000;

    position: relative;
}

.navbarTop .logo img {
    width: 145px;
}

.navbarTop .right {
    position: absolute;
    right: 35px;

    cursor: pointer;
}

.navbarTop .left {
    position: absolute;
    left: 35px;

    cursor: pointer;
}

.navbarTop .left .search {
    position: relative;
}

.navbarTop .left .search .searchIcon {
    width: 35px;
    height: 35px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 50%;

    font-size: 18px;

    color: #fff;

    cursor: pointer;
    transition: .5;
}

.navbarTop .left .search .searchIconActive {
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;

    background: #ff9100;

    position: absolute;
    left: -10px;

    cursor: pointer;
    transition: .5;
}

.navbarTop .left .search input {
    height: 40px;
    padding: 10px 50px;
    border-radius: 5px;

    font-size: 15px;
    
    display: none;
    outline: none;

    transition: .5;
}

.navbarTop .left .search .searchInput {
    animation: crescer infinite;
}

@keyframes crescer {
    0% {
        width: 0px;
    }

    10% {
        width: 100px;
    }

    50% {
        width: 300px;
    }

    100% {
        width: 450px;
    }
}

.navbarTop .right .btnLogin {
    width: 80px;
    height: 40px;
    border-radius: 15px;

    font-size: 17px;

    background: #00000000;
    color: #fff;

    cursor: pointer;
}

.navbarTop .right .btnLogin:hover {
    border: .75px solid #ff8800;
}

.navbarTop .right .notificationIcon {
    margin-right: 20px;

    font-size: 27px;
    
    color: #fff;
}

.navbarTop .right img {
    width: 40px;
    border-radius: 50%;
}